version: '3.3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    depends_on:
    - db
  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: java_training_example
      MYSQL_USER: app_user
      MYSQL_PASSWORD: password